<div class="container border">
    <div class="row mt-5">
      <div class="col-md-12 text-center">
        <h1 class="h1-responsive">Welcome : {{loggedUserName}}</h1>
      </div>
    </div>
    <div class="container border border-primary">
    <div class="row mt-5 ">
      <div class="col-md-5 offset-md-2">
       <label >Select Chat Room</label>
       <select id="ddlRoomList" class="form-control" [(ngModel)]="roomName" >
         <option value="Default Room">Default Room</option>
         <option value="Room 1">Room 1</option>
         <option value="Room 2">Room 2</option>
         <option value="Room 3">Room 3</option>
         </select>
      </div>    
    </div>
    <div class="row mt-5 ">
        <div class="col-md-5 offset-md-2">
            
      <button id="btnNext" type="button" (click)="moveNext();" class="btn btn-primary-outline pull-right" >
        Next
      </button>
      
      <br><br>
    </div
    ></div>
  </div>
 
  </div>