<div class="container border">
    <div class="row mt-5">
      <div class="col-md-12 text-center">
        <h1 class="h1-responsive">Angular 6 App:</h1>
      </div>
    </div>
    <div class="container border border-primary">
    <div class="row mt-5 ">
      <div class="col-md-5 offset-md-2">
       <label >Your Name</label>
       <input type="text" id="txtName" class="form-control" [(ngModel)]="name" >
      </div>    
    </div>
    <div class="row mt-5 ">
      <div class="col-md-5 offset-md-2">
       <label >Email</label>
       <input type="text" id="txtEmail" class="form-control" [value]="email" >
       {{email}}
      </div>    
    </div>
    <div class="row mt-5 ">
        <div class="col-md-5 offset-md-2">
          
      <button id="btnNext" type="button" (click)="moveNext();" class="btn btn-primary-outline pull-right" >
        Next
      </button>
    
      <br><br>
    </div
    ></div>
  </div>
   
  </div>